<div class="wrapper">
  <div class="title flex-row">
    <i class="las la-comment"></i>
    <p class="title-text">Comment</p>
  </div>
  <div class="comments">
    <div class="comments-message flex-row">
      <i class="las la-grin emoji cursor-pointer"></i>
      <i class="las la-paperclip attach cursor-pointer"></i>
      <!-- <input class="message-box" type="text" placeholder="Type a comment"> -->
      <textarea cols="30" rows="1" class="message-box" placeholder="Type a comment"></textarea>
      <button class="send-btn">
        <i class="las la-microphone"></i>
      </button>
    </div>
  </div>
</div>
