.wrapper {
  height: calc(100vh - 105px);
  position: relative;
}

.title {
  background-color: var(--white);
  padding: 5px 21px;
  border-bottom: 1px solid #eff1f8;
}

.title .las {
  font-size: 2.4rem;
  color: #ebb1f9;
}

.title-text {
  padding-left: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  align-self: center;
}

.history {
  padding: 0;
  width: 100%;
  max-height: calc(100% - 85px);
  overflow-y: auto;
}

.history-wrapper {
  margin: 0 0 5px;
  padding: 0 20px;
}

.history-wrapper.pressed {
  background-color: #25cfdb;
  opacity: 0.5;
}

.history-sent {
  width: auto;
  max-width: 75%;
  align-self: flex-end;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 8px 8px 8px 15px;
  font-size: 1.3rem;
  border-radius: 15px;
  border-bottom-right-radius: 7.5px;
}

.content {
  line-height: 1.5;
}

.time {
  align-self: flex-end;
  opacity: 0.7;
  font-size: 1.2rem;
}

.history-date {
  align-self: center;
  background-color: var(--white);
  text-transform: uppercase;
  padding: 2px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #e8ecf5;
  border-radius: 5px;
  font-size: 1.1rem;
}

.comments {
 position: absolute;
 bottom: 0;
 width: 100%;
}

.comments-message {
  margin: 5px 15px;
  position: relative;
}

.user-img {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #236a7c;
  border-radius: 50%;
  color: var(--white);
  text-align: center;
  font-size: 1.4rem;
  padding-top: 0.4rem;
}

.user-img__url > img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  object-fit: contain;
}

.user-name {
  margin-right: 20px;
  margin-bottom: 5px;
}

.history-received-wrapper {
  margin-top: 10px;
}

.history-received {
  margin-left: 10px;
  margin-bottom: 5px;
  width: auto;
  max-width: 72%;
  background-color: var(--white);
  padding: 8px 8px 8px 15px;
  font-size: 1.3rem;
  border-radius: 15px;
  border-top-left-radius: 7.5px;
  border: 1px solid #e8ecf5;
}

.audio-wrapper {
  width: 100%;
  max-width: unset;
}

.audio-player {
  height: 2.2rem;
}

.audio-player .controls {
  justify-content: space-between;
  align-items: stretch;
}

.audio-player .play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 12px solid var(--white);
  border-left: 18px solid #7e7e7e;
  margin-top: 1px;
}

.audio-player .pause {
  height: 2.5rem;
  width: 3rem;
  cursor: pointer;
  position: relative;
}

.audio-player .pause::before {
  position: absolute;
  top: 0;
  left: 0px;
  background: var(--white);
  opacity: 0.7;
  content: "";
  height: 2.5rem;
  width: 0.7rem;
}

.audio-player .pause::after {
  position: absolute;
  top: 0;
  right: 1rem;
  background: var(--white);
  opacity: 0.7;
  content: "";
  height: 2.5rem;
  width: 0.7rem;
}

.audio-player .play:hover {
  transform: scale(1.1);
}

.audio-player .audio-duration {
  flex-basis: 75%;
  background-color: #DCDCDC;
  height: 5px;
  align-self: center;
  position: relative;
}

.audio-player .audio-progress {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: -6%;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-top: -5px;
}

.audio-player .audio-time {
  align-self: center;
  color: #dbd6d6;
  font-size: 1.1rem;
}

.history-sent.audio-wrapper {
  max-width: 91%;
}

.history-sent .audio-duration {
  background-color: #4579C2;
}

.history-sent .audio-progress {
  background-color: var(--white);
}

.history-sent .play {
  border: 12px solid var(--primary-color);
  border-left: 18px solid var(--white);
}

.history-received.is-playing {
  background-color: var(--primary-color);
  color: var(--white);
}

.history-received.is-playing .audio-duration {
  background-color: #4579C2;
}

.history-received.is-playing .audio-progress {
  background-color: var(--white);
}

.history-received__file {
  width: 100%;
  padding: 8px 15px 8px 8px;
  max-width: unset;
}

.file-wrapper {
  background-color: #F0F0F0;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.la-file-pdf {
  font-size: 4rem;
  color: red;
  align-self: stretch;
}

.file-meta__info {
  margin-left: 10px;
}

.file-meta__info .name {
  margin: 3px 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.file-meta__info .extension {
  font-size: 1.2rem;
  color: #d5d5d5;
}

.message-box {
  width: 87%;
  border: 2px solid #e8ecf5;
  border-radius: 30px;
  padding: 10px 30px;
  font-family: Roboto, serif;
  font-size: 1.3rem;
  resize: none;
}

.message-box::placeholder {
  color: #e7e7e7;
}

.message-box:focus {
  outline: none;
}

.emoji {
  position: absolute;
  bottom: 20%;
  left: 2%;
  font-size: 2rem;
  color: #e7e7e7;
}

.attach {
  position: absolute;
  bottom: 20%;
  right: 16%;
  font-size: 2rem;
  color: #696969;
}

.send-btn {
  position: absolute;
  bottom: 1.1%;
  right: 4%;
  border-radius: 50%;
  background-color: #1a79f9;
  border: none;
  color: var(--white);
  width: 3.7rem;
  height: 3.7rem;
  padding-top: 2.5px;
  font-size: 2.4rem;
}

.send-btn.attachments {
  background-color: var(--white);
  color: #8E8E8E;
  transform: scale(1.2);
  bottom: 1.6%;
}

.attach-options {
  position: absolute;
  bottom: 0.5%;
  right: 16%;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.2rem;
  padding: 5px;
  width: fit-content;
  background-color: var(--white);
  border-radius: 30px;
  font-size: 3.2rem;
}

.attach-options input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.attach-options label {
  border-radius: 50%;
  color: var(--white);
  width: 4rem;
  height: 4rem;
  text-align: center;
  padding-top: 2px;
}

.attach-options label.attach-audio {
  background-color: #FA6E6F;
}

.attach-options label.attach-image {
  background-color: #5254FF;
}

.attach-options label.attach-doc {
  background-color: #2CAB77;
}
