.audio-wrapper {
  width: calc(100% - 10px);
  max-width: unset;
}

.audio-player {
  height: 2.2rem;
}

.audio-player .controls {
  justify-content: space-between;
  align-items: stretch;
}

.audio-player .play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 12px solid var(--white);
  border-left: 18px solid #7e7e7e;
  margin-top: 1px;
}

.audio-player .pause {
  height: 2.5rem;
  width: 3rem;
  cursor: pointer;
  position: relative;
}

.audio-player .play:hover {
  transform: scale(1.1);
}

.audio-player .audio-duration {
  flex-basis: 75%;
  background-color: #DCDCDC;
  height: 5px;
  align-self: center;
  position: relative;
}

.audio-player .audio-progress {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: -6%;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-top: -5px;
}

.audio-player .audio-time {
  align-self: center;
  color: #dbd6d6;
  font-size: 1.1rem;
}

.audio-player .pause::before {
  position: absolute;
  top: 0;
  left: 0px;
  background: var(--white);
  opacity: 0.7;
  content: "";
  height: 2.5rem;
  width: 0.7rem;
}

.audio-player .pause::after {
  position: absolute;
  top: 0;
  right: 1rem;
  background: var(--white);
  opacity: 0.7;
  content: "";
  height: 2.5rem;
  width: 0.7rem;
}

.history-sent.audio-wrapper {
  max-width: 91%;
}

.history-sent .audio-duration {
  background-color: #4579C2;
}

.history-sent .audio-progress {
  background-color: var(--white);
}

.history-sent .play {
  border: 12px solid var(--primary-color);
  border-left: 18px solid var(--white);
}

.history-received.is-playing {
  background-color: var(--primary-color);
  color: var(--white);
}

.history-received.is-playing .audio-duration {
  background-color: #4579C2;
}

.history-received.is-playing .audio-progress {
  background-color: var(--white);
}

.time {
  align-self: flex-end;
  opacity: 0.7;
  font-size: 1.2rem;
  margin-top: 4px;
}
