.wrapper {
  height: calc(100vh - 105px);
  position: relative;
}

.title {
  background-color: var(--white);
  padding: 5px 21px;
  border-bottom: 1px solid #eff1f8;
}

.title .las {
  font-size: 2.4rem;
  color: #ebb1f9;
}

.title-text {
  padding-left: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  align-self: center;
}

.history {
  padding: 0;
  width: 100%;
  max-height: calc(100% - 85px);
  overflow-y: scroll;
}

.comments {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.comments-message {
  margin: 5px 15px;
  position: relative;
}

.message-box {
  width: 87%;
  border: 2px solid #e8ecf5;
  border-radius: 30px;
  padding: 10px 30px;
  font-family: Roboto, serif;
  font-size: 1.3rem;
  resize: none;
}

.message-box::placeholder {
  color: #e7e7e7;
}

.message-box:focus {
  outline: none;
}

.emoji {
  position: absolute;
  bottom: 20%;
  left: 2%;
  font-size: 2rem;
  color: #e7e7e7;
}

.attach {
  position: absolute;
  bottom: 20%;
  right: 16%;
  font-size: 2rem;
  color: #696969;
}

.send-btn {
  position: absolute;
  bottom: 1.1%;
  right: 4%;
  border-radius: 50%;
  background-color: #1a79f9;
  border: none;
  color: var(--white);
  width: 3.7rem;
  height: 3.7rem;
  padding-top: 2.5px;
  font-size: 2.4rem;
}

.send-btn.attachments {
  background-color: var(--white);
  color: #8E8E8E;
  transform: scale(1.2);
  bottom: 1.6%;
}

.attach-options {
  position: absolute;
  bottom: 0.5%;
  right: 16%;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.2rem;
  padding: 5px;
  width: fit-content;
  background-color: var(--white);
  border-radius: 30px;
  font-size: 3.2rem;
}

.attach-options input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.attach-options label {
  border-radius: 50%;
  color: var(--white);
  width: 4rem;
  height: 4rem;
  text-align: center;
  padding-top: 2px;
}

.attach-options label.attach-audio {
  background-color: #FA6E6F;
}

.attach-options label.attach-image {
  background-color: #5254FF;
}

.attach-options label.attach-doc {
  background-color: #2CAB77;
}
