<div [ngSwitch]="comment.commentType">
  <div *ngSwitchCase="'text'">
    <ng-container>
      <div class="history-date">yesterday</div>
      <div class="comment-container" *ngIf="myComment">
        <div class="history-wrapper flex-column" [ngClass]="{'pressed': isPressed}">
          <div class="history-sent flex-column" appLongPress (onLongPress)="showOptions()">
            <p class="content">{{ comment.content }}</p>
            <p class="time">{{ comment.dateCreated | date:'shortTime' }}</p>
          </div>
        </div>
        <div class="pressed-options" *ngIf="isPressed">
          <i class="las la-copy"></i>
          <i class="las la-bullhorn"></i>
          <i class="las la-share-square"></i>
        </div>
      </div>

      <div class="comment-container" *ngIf="!myComment">
        <div class="history-wrapper flex-column">
          <div class="history-received-wrapper flex-row">
            <div *ngIf="comment.creator.imageUrl" class="user-img__url">
              <img [src]="comment.creator.imageUrl" alt="sender" />
            </div>
            <div *ngIf="!comment.creator.imageUrl" class="user-img">
              {{ comment.creator.name.charAt(0) }}
            </div>
            <div class="history-received flex-column">
              <p class="user-name">{{ comment.creator.name }}</p>
              <p class="content">{{ comment.content }}</p>
              <p class="time">{{ comment.dateCreated | date:'shortTime' }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div *ngSwitchCase="'file'">
    <ng-container>
      <div class="history-date">yesterday</div>
      <div class="comment-container" *ngIf="myComment">
        <div class="history-wrapper flex-column">
          <div class="history-sent history-sent__file flex-column">
            <div class="file-wrapper">
              <div class="file-meta flex-row">
                <i class="las la-file-pdf"></i>
                <div class="file-meta__info">
                  <p class="name">{{ comment.file.fileName }}</p>
                  <p class="extension">{{ comment.file.fileSize }} &nbsp;&nbsp;{{ comment.file.fileExtension }}</p>
                </div>
              </div>
            </div>
            <p class="time">{{ comment.dateCreated | date:'shortTime' }}</p>
          </div>
        </div>
      </div>

      <div class="comment-container" *ngIf="!myComment">
        <div class="history-wrapper flex-column">
          <div class="history-received-wrapper flex-row">
            <div *ngIf="comment.creator.imageUrl" class="user-img__url">
              <img [src]="comment.creator.imageUrl" alt="sender" />
            </div>
            <div *ngIf="!comment.creator.imageUrl" class="user-img">
              {{ comment.creator.name.charAt(0) }}
            </div>
            <div class="history-received history-received__file flex-column">
              <div class="file-wrapper">
                <div class="file-meta flex-row">
                  <i class="las la-file-pdf"></i>
                  <div class="file-meta__info">
                    <p class="name">{{ comment.file.fileName }}</p>
                    <p class="extension">{{ comment.file.fileSize }} &nbsp;&nbsp;{{ comment.file.fileExtension }}</p>
                  </div>
                </div>
              </div>
              <p class="time">{{ comment.dateCreated | date:'shortTime' }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div *ngSwitchCase="'audio'">

  </div>

  <div *ngSwitchDefault></div>
</div>
