.wrapper {
  height: calc(100vh - 105px);
  position: relative;
}

.title {
  background-color: var(--white);
  padding: 5px 21px;
  border-bottom: 1px solid #eff1f8;
}

.title .las {
  font-size: 2.4rem;
  color: #ebb1f9;
}

.title-text {
  padding-left: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  align-self: center;
}

.history {
  padding: 0 20px;
  width: 100%;
}

.history-sent {
  width: auto;
  max-width: 75%;
  align-self: flex-end;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 8px 8px 8px 15px;
  font-size: 1.3rem;
  border-radius: 15px;
  border-bottom-right-radius: 7.5px;
  margin-bottom: 5px;
}

.content {
  line-height: 1.5;
}

.time {
  align-self: flex-end;
  opacity: 0.7;
  font-size: 1.2rem;
}

.history-date {
  align-self: center;
  background-color: var(--white);
  text-transform: uppercase;
  padding: 2px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #e8ecf5;
  border-radius: 5px;
  font-size: 1.1rem;
}

.comments {
 position: absolute;
 bottom: 0;
 width: 100%;
}

.comments-message {
  margin: 5px 15px;
  position: relative;
}

.user-img {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #236a7c;
  border-radius: 50%;
  color: var(--white);
  text-align: center;
  font-size: 1.4rem;
  padding-top: 0.4rem;
}

.user-img__url > img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  object-fit: contain;
}

.user-name {
  margin-right: 20px;
  margin-bottom: 5px;
}

.history-received-wrapper {
  margin-top: 10px;
}

.history-received {
  margin-left: 10px;
  margin-bottom: 5px;
  width: auto;
  max-width: 72%;
  background-color: var(--white);
  padding: 8px 8px 8px 15px;
  font-size: 1.3rem;
  border-radius: 15px;
  border-top-left-radius: 7.5px;
  border: 1px solid #e8ecf5;
}

.audio-wrapper {
  width: 100%;
  max-width: unset;
}

.audio-player {
  height: 2.2rem;
}

.audio-player .controls {
  justify-content: space-between;
  align-items: stretch;
}

.audio-player .play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 12px solid var(--white);
  border-left: 18px solid #7e7e7e;
  margin-top: 1px;
}

.audio-player .pause {
  height: 2.5rem;
  width: 3rem;
  cursor: pointer;
  position: relative;
}

.audio-player .pause::before {
  position: absolute;
  top: 0;
  left: 0px;
  background: blue;
  content: "";
  height: 2.5rem;
  width: 0.7rem;
}

.audio-player .pause::after {
  position: absolute;
  top: 0;
  right: 1rem;
  background: blue;
  content: "";
  height: 2.5rem;
  width: 0.7rem;
}

.audio-player .play:hover {
  transform: scale(1.1);
}

.audio-player .audio-progress {
  flex-basis: 75%;
  background-color: #DCDCDC;
  height: 5px;
  align-self: center;
}

.audio-player .audio-time {
  align-self: center;
  color: #dbd6d6;
  font-size: 1.1rem;
}

.message-box {
  flex-basis: 85%;
  border: 2px solid #e8ecf5;
  border-radius: 30px;
  padding: 10px 30px;
  font-family: Roboto, serif;
  font-size: 1.3rem;
  resize: none;
}

.message-box::placeholder {
  color: #e7e7e7;
}

.message-box:focus {
  outline: none;
}

.emoji {
  position: absolute;
  bottom: 22%;
  left: 2%;
  font-size: 2rem;
  color: #e7e7e7;
}

.attach {
  position: absolute;
  bottom: 22%;
  right: 18%;
  font-size: 2rem;
  color: #696969;
}

.send-btn {
  margin-left: 13px;
  border-radius: 50%;
  background-color: #1a79f9;
  border: none;
  color: var(--white);
  width: 3.9rem;
  height: 3.9rem;
  font-size: 2.4rem;
}
