<div class="wrapper">
  <div class="title flex-row">
    <i class="las la-comment"></i>
    <p class="title-text">Comment</p>
  </div>

  <div class="history flex-column">
    <div class="history-date">yesterday</div>
    <div class="history-sent flex-column">
      <p class="content">The plumbers have not yet responded to my calls</p>
      <p class="time">3:45 PM</p>
    </div>

    <!-- <div class="history-date">yesterday</div> -->
    <div class="history-sent flex-column">
      <p class="content">Wonder why?</p>
      <p class="time">3:45 PM</p>
    </div>

    <!-- <div class="history-date">yesterday</div> -->
    <div class="history-received-wrapper flex-row">
      <div class="user-img__url">
				<img src="https://involveduidevtest-c6v76esbxa-uc.a.run.app/assets/images/mocks/female-comment-3@2x.png" alt="sender" />
      </div>
      <div class="history-received flex-column">
        <p class="user-name">Tracy Peters</p>
        <p class="content">Why are we even waiting for them? Are they our only option?</p>
        <p class="time">4:12 PM</p>
      </div>
    </div>

    <!-- <div class="history-date">yesterday</div> -->
    <div class="history-received-wrapper flex-row">
      <div class="user-img">D</div>
      <div class="history-received flex-column">
        <p class="user-name">Donald Pokamoni</p>
        <p class="content">Let me call them</p>
        <p class="time">4:56 PM</p>
      </div>
    </div>

    <div class="history-date">Today</div>
    <div class="history-received-wrapper flex-row">
      <div class="user-img">B</div>
      <div class="history-received audio-wrapper flex-column">
        <div class="audio-player">
          <div class="controls flex-row">
            <div class="toggle-play play" (click)="play()" #playPause></div>
            <div class="audio-progress"></div>
            <p class="audio-time">0:32</p>
          </div>
        </div>
        <p class="time">4:56 PM</p>
      </div>
    </div>
  </div>

  <div class="comments">
    <div class="comments-message flex-row">
      <i class="las la-grin emoji cursor-pointer"></i>
      <i class="las la-paperclip attach cursor-pointer"></i>
      <textarea cols="30" rows="1" class="message-box" placeholder="Type a comment" id="post-comment"></textarea>
      <button class="send-btn">
        <i class="las la-microphone" *ngIf="!isTyping"></i>
        <i class="las la-paper-plane" *ngIf="isTyping"></i>
      </button>
    </div>
  </div>
</div>
